.about_auther img {
    border-radius: 100px;
}

.about_auther .auther_info a {
    cursor: pointer;
    color: blue;
    border: 2px solid rgb(89, 104, 195);
    border-radius: 8px;
    background-color: rgb(116, 116, 237);
}

.about {
    background-color: rgb(52, 164, 127);
}

.row img:hover {
    width: 300px;
}

.container {
    width: 100%;
    overflow: hidden;
    background-color: rgb(52 164 127);
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
}

.container .text {
    position: relative;
    color: #08120a;
    font-size: 30px;
    font-weight: 600;
    height: 20vh;
}

.container .text.first-text {
    color: #FFF;
}

.post_p {
    height: 50vh;
}

.text.sec-text::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(52 164 127);
    border-left: 2px solid #40f49a;
    animation: animate 4s steps(12) infinite;
}

@keyframes animate {
    40%,
    60% {
        left: calc(100% + 4px);
    }
    100% {
        left: 0%;
    }
}


/* /* .p_about {
    transition: all 1s ease-in-out;
    transform: skew(-30deg);
}

.p_about:hover {
    /* transform: translateX(130px); */


/*transform: skew(0deg);

/* transform: scale(2); */


/*} */

*/ #services .box {
    border: 2px solid rgb(57, 199, 207);
    padding: 34px;
    margin: 2px 55px;
    border-radius: 28px;
    background: #f2f2f2;
    margin-bottom: 20px;
}

#services .box img {
    height: 160px;
    margin: auto;
    display: block;
}

.center {
    text-align: center;
}

#services .box p {
    font-family: 'Bree Serif', serif;
}

#services {
    margin: 34px;
    display: flex;
}

.h-primary {
    font-family: 'Bree Serif', serif;
    font-size: 3.8rem;
    padding: 12px;
}

.contaner {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.v {
    margin-left: 12px;
    margin-right: 12px;
    /* border: 3px dotted greenyellow; */
    border-radius: 12px;
}

#class {
    margin-bottom: 12px;
}