body {
    background-image: url(../img/course.jpg);
    width: 100%;
}

.Formss {
    border: 2px solid black;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    width: 45vw;
    padding: 12px 12px;
    border-radius: 12px;
    background-color: #2ea176;
    margin-bottom: 8px;
}

.max-width-1 {
    margin: auto;
    max-width: 80vw;
    background-color: rgb(31 179 138);
}

.cv {
    align-items: left;
    justify-content: left;
    text-align: left;
    color: rgb(26, 18, 18);
}

.btn1 {
    background-color: tomato;
    border-radius: 12px;
    width: 90px;
    height: 35px;
    margin: 5px 5px;
}

.btn2 {
    background-color: tomato;
    border-radius: 12px;
    width: 90px;
    height: 35px;
    margin: 5px 5px;
}

.eligible {
    color: rgb(246, 251, 249);
    font-size: 18px;
}

.btn1:hover {
    background-color: wheat;
}

.btn2:hover {
    background-color: wheat;
}

.date {
    background-color: rgb(0, 255, 64);
}

.date1 {
    padding-top: 15px;
}

h2 {
    text-align: center;
    color: rgb(233 228 147);
    border-radius: 10px;
    border: rgb(196, 179, 245) solid 3px;
    background-color: #257532;
    width: 40vw;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 5px;
}

.hea {
    position: sticky;
    background-color: white;
    width: 100%;
}

.detail {
    color: white;
    text-align: left;
    justify-content: left;
    align-items: left;
}

.form_box input,
textarea {
    width: 40vw;
    padding: 10px 6px;
    margin: 6px 6px;
    font-size: 16px;
    border: 1px solid rgb(52, 211, 52);
    border-radius: 8px;
}

@media screen and (max-width:1200px) {
    .navigation {
        flex-direction: column;
        margin-bottom: 22px;
    }
}