@media screen and (max-width:1200px) {
    .navigation {
        flex-direction: column;
        margin-bottom: 22px;
    }
    .left {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .content .content-right {
        display: none;
    }
    .h_al {
        flex-direction: column;
    }
    h_al_img {
        text-align: center;
    }
    .year-box {
        top: 20px;
        font-size: 12px;
        padding-top: 20px;
        left: 70vh;
    }
    .year-box div {
        margin: 0;
    }
    .right .form-control {
        width: 50%;
    }
    .form_box input,
    textarea {
        width: 60vw;
        padding: 10px 6px;
        margin: 8px 0;
        font-size: 16px;
        border: 1px solid rgb(52, 211, 52);
        border-radius: 8px;
    }
    .row {
        flex-direction: column;
    }
    .social {
        padding: 2px;
    }
    /* .post_p img {
        height: auto;
    } */
    .post_p {
        height: 25vh;
    }
    #services {
        flex-direction: column;
    }
    #services .box {
        padding: 14px;
        margin: 2px 0px;
        margin-bottom: 20px;
        border: none;
    }
    .h-primary {
        font-size: 26px;
    }
    /* #services .box img {
        height: 100px;
        float: left;
        margin: auto;
        display: block;
    } */
    #class {
        flex-direction: column;
    }
    .auther_shair {
        display: none;
    }
    .v{
        display: none;
    }
}