.post_p img {
    width: 100%;
}

.post_p {
    height: 400px;
    overflow: hidden;
}

.post_content {
    background-color: rgb(232, 243, 243);
    text-align: center;
    font-size: 18px;
}

.row {
    display: flex;
}

.row .about_post {
    flex-direction: column;
}

.about_auther {
    display: flex;
    background-color: blueviolet;
    justify-content: space-between;
}

.auther_info div {
    padding: 5px 12px;
}

.auther_info {
    margin: 12px 0px;
}

.auther_shair .social {
    display: flex;
    margin: 16px;
    cursor: pointer;
}

.auther_shair .social a {
    margin: 5px 5px;
}